*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/.module/public/build
/.module/public/vendor
/.module/public/hot
/.module/public/storage
/.module/storage/*.key
/.module/storage/pail
/vendor
phpunit.xml
Homestead.json
Homestead.yaml
Thumbs.db
